/* General */
body{
    background-color: rgb(187, 7, 7);
    height: 100vh;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* HEADER */
.header{
    margin: 2rem 0 8rem 0;
}

.header .general-title{
    font-size: 4rem;
}

/* PANEL */
.panel{    
    padding: 1.5rem 0;
    width: 100vw;

    display: grid;
    place-items: center;
    grid: 'star-wars high-school-musical hobbit';
}

/* STAR WARS */
.star-wars-slider{
    grid-area: star-wars;
    background: url(../images/background-general/death-star.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.star-wars-list .slide-sw{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.star-wars-list .slide-sw.show{
    opacity: 1;
}

/* HIGH SCHOOL MUSICAL */
.high-school-musical-slider{
    grid-area: high-school-musical;
    background: url(../images/background-general/high-school-musical.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.high-school-musical-list .slide-hsm{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.high-school-musical-list .show-1{
    opacity: 1;
}
/* Hobbit */


/* flex-direction: row */
.star-wars-list, .high-school-musical-list, .hobbit-list, .star-wars-slider, .high-school-musical-slider, .hobbit-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Movies-sliders */
.star-wars-slider, .high-school-musical-slider, .hobbit-slider{
    position: relative;
    width: 100%;
    height: 36rem;
}

/* IMAGES */
.slide-sw .star-wars-image, .slide-hsm .high-school-musical-image, .slide-h .hobbit-image{
    width: 22rem;
    height: 32rem;
}

/* Arrows */
.back-arrow, .forward-arrow{
    position: absolute;
    z-index: 1;
}

.arrow-image{
    width: 4rem;
    height: 4rem;
}

.back-arrow{
    left: 4%;
    transform: rotateY(180deg);
}

.forward-arrow{
    right: 4%;
}

.opacity, .opacity-1{
    opacity: 0.6;
    cursor: default;
}