/* General */
body{
    background-image: url(../images/background-general/the-perfect-stars.jpg);
    background-repeat: repeat;
    background-size: cover;
    /* background-color: black; */
    max-height: 100vh;
    max-width: 100vw;
    /* margin: 0 2rem; */
    
    display: grid;
    grid: 'cabecalho'
          'painel'
          'rodape';

}

/* HEADER */
.header{
    grid-area: cabecalho;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    padding: 1rem 0 0.4rem 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--border-color);
    background-color: var(--header-footer-color);
}

.header .logo-image img{
    width: 60%;
}

.header .menu{
    display: flex;
    margin-right: 4rem;
    font-family: 'bebas', sans-serif; 
}

.header .menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.header .menu li a{
    padding: 0.8rem 1.2rem;
}

.header .menu li a:hover{
    color: var(--logo-color);
}

/* PANEL */
.panel{    
    grid-area: painel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
          
    padding: 0 0 1.5rem 0;
    width: 100%;
}

.panel .general-title{
    font-size: 2.6rem;
    color: var(--title-color);

    margin: 4rem 0;
}

/* FILMES DE AVENTURA */
.filmes-de-aventura, .filmes-de-acao, .filme-de-musical{
    display: flex;
    gap: 1.5rem;

    margin-bottom: 3rem;
}

/* AVENTURA */
.adventure-slider{
    background: url(../images/background-movies/death-star.jpg) no-repeat;
}

.adventure-list .slide-adventure{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* ACAO */
.action-slider{
    /* grid-area: transformers; */
    background: url(../images/background-movies/transformers-1.jpg) no-repeat;
}

.action-list .slide-action{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* FILMES DE MUSICAL */
.high-school-musical-slider{
    background: url(../images/background-movies/high-school-musical.jpg) no-repeat;
}

.high-school-musical-list .slide-hsm{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* flex-direction: row */
.adventure-list, .high-school-musical-list, .action-list, 
.adventure-slider, .high-school-musical-slider, .action-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Movies-sliders */
.adventure-slider, .high-school-musical-slider, .action-slider{
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 40rem;
    height: 26rem;
    border: 0.05rem solid var(--border-color);
}

/* IMAGES */
.slide-adventure .adventure-image, .slide-hsm .high-school-musical-image, 
.slide-action .action-image{
    width: 16rem;
    height: 22rem;
}

/* OPACITY: 1 */
.adventure-list .show, .high-school-musical-list .show-2, 
.action-list .show-1{
    opacity: 1;
}

/* Arrows */
.back-arrow, .forward-arrow{
    position: absolute;
    z-index: 1;
}

.arrow-image{
    width: 4rem;
    height: 4rem;
}

.back-arrow{
    left: 4%;
    transform: rotateY(180deg);
}

.forward-arrow{
    right: 4%;
}

.opacity, .opacity-1, .opacity-2, .opacity-3{
    opacity: 0.6;
    cursor: default;
}

/* FOOTER */
.footer{
    grid-area: rodape;
    margin: 4rem 0 0 0;
    border-top: 0.1rem solid var(--border-color);

    background-color: var(--header-footer-color);
}

.footer nav{
    margin: 3.5rem 0 3rem 0;
}

.footer .footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
    font-family: 'bebas', sans-serif; 
}

.footer .footer-menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.footer .footer-menu li a{
    padding: 0.8rem 1.2rem;
}

.footer .footer-menu li a:hover{
    color: var(--logo-color);
}

/* MEDIA */
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 1rem 0 3rem 0;
}

.contacts .social{
    margin-right: 10rem;
}

.contacts .social p{
    padding: 0.5rem 0;
}

.contacts .social .email{
    font-size: 1.7rem;
    color: var(--li-color);
}

.contacts .social .telephone{
    font-size: 1.7rem;
    color: var(--li-color);
}

.contacts .social-media .nets{
    display: flex;
    flex-direction: column;
}

.contacts .social-media .nets li{
    font-size: 1.7rem;
    padding: 0.5rem 0;
}

.contacts .social-media .nets li a:hover{
    color: var(--logo-color);
}