/* General */
body{
    background-color: black;
    max-height: 100vh;
    max-width: 100vw;
    /* margin: 0 2rem; */
    
    display: grid;
    grid: 'cabecalho'
          'painel'
          'rodape';
}

/* HEADER */
.header{
    grid-area: cabecalho;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    margin: 1rem 0 2rem 0;
    padding: 0.4rem 0;
    width: 100%;
    border-bottom: 0.1rem solid var(--border-color);
}

.header .logo-image img{
    width: 60%;
}

.header .menu{
    display: flex;
    margin-right: 4rem;
    font-family: 'bebas', sans-serif; 
}

.header .menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.header .menu li a{
    padding: 0.8rem 1.2rem;
}

.header .menu li a:hover{
    color: var(--logo-color);
}

/* PANEL */
.panel{    
    grid-area: painel;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
          
    padding: 1.5rem 0;
    width: 100%;
}

.panel .general-title{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2.6rem;
    color: var(--logo-color);

    margin: 4rem 0;
}

/* FILMES DE AVENTURA */
.filmes-de-aventura, .filmes-de-acao, .filme-de-musical{
    display: flex;
    gap: 1.5rem;

    margin-bottom: 3rem;
}

/* STAR WARS */
.star-wars-slider{
    /* grid-area: star-wars; */
    background: url(../images/background-general/death-star.jpg) no-repeat;
}

.star-wars-list .slide-sw{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* Hobbit */
.hobbit-slider{
    /* grid-area: hobbit; */
    background: url(../images/background-general/hobbit.jpg) no-repeat;
}

.hobbit-list .slide-h{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* filmes de acao */
/* TRANSFORMERS */
.transformers-slider{
    /* grid-area: transformers; */
    background: url(../images/background-general/transformers-2.jpg) no-repeat;
}

.transformers-list .slide-t{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* FILMES DE MUSICAL */
/* HIGH SCHOOL MUSICAL */
.high-school-musical-slider{
    /* grid-area: high-school-musical; */
    background: url(../images/background-general/high-school-musical.jpg) no-repeat;
}

.high-school-musical-list .slide-hsm{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* flex-direction: row */
.star-wars-list, .high-school-musical-list, .hobbit-list, .transformers-list, 
.star-wars-slider, .high-school-musical-slider, .hobbit-slider, .transformers-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Movies-sliders */
.star-wars-slider, .high-school-musical-slider, .hobbit-slider, .transformers-slider{
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 40rem;
    height: 26rem;
    border: 0.05rem solid var(--border-color);
}

/* IMAGES */
.slide-sw .star-wars-image, .slide-hsm .high-school-musical-image, 
.slide-h .hobbit-image, .slide-t .transformers-image{
    width: 16rem;
    height: 22rem;
}

/* OPACITY: 1 */
.star-wars-list .show, .high-school-musical-list .show-1, 
.hobbit-list .show-2, .transformers-list .show-3{
    opacity: 1;
}

/* Arrows */
.back-arrow, .forward-arrow{
    position: absolute;
    z-index: 1;
}

.arrow-image{
    width: 4rem;
    height: 4rem;
}

.back-arrow{
    left: 4%;
    transform: rotateY(180deg);
}

.forward-arrow{
    right: 4%;
}

.opacity, .opacity-1, .opacity-2, .opacity-3{
    opacity: 0.6;
    cursor: default;
}

/* FOOTER */
.footer{
    grid-area: rodape;
    margin: 6rem 0;
    font-family: 'bebas', sans-serif; 
}

.footer .footer-menu{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem 0;
}

.footer .footer-menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.footer .footer-menu li a{
    padding: 0.8rem 1.2rem;
}

.footer .footer-menu li a:hover{
    color: var(--logo-color);
}

/* MEDIA */
.contacts{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts .social .email{
    font-size: 2rem;
    color: var(--li-color);
}

.contacts .social-media .nets{
    display: flex;
    flex-direction: column;
}