/* General */
body{
    background-color: black;
    height: 100vh;
    /* margin: 0 2rem; */
    
    display: grid;
    grid: 'cabecalho'
          'painel';
}

/* HEADER */
.header{
    grid-area: cabecalho;
    margin: 2rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header .general-title{
    color: var(--logo-color);
    font-size: 4rem;
}

.header .logo-image img{
    width: 60%;
}

.header .menu{
    display: flex;
}

.header .menu li{
    font-size: 2rem;

    padding: 0 0.4rem;
}

.header .menu li a{
    padding: 0.8rem 1.2rem;
}

.header .menu li a:hover{
    color: var(--logo-color);
}

/* PANEL */
.panel{    
    padding: 1.5rem 0;
    width: 90vw;
    gap: 1.5rem;

    grid-area: painel;
    /* display: grid;
    place-items: center;
    grid: 'star-wars high-school-musical hobbit' 
          'transformers . .'; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* FILMES DE AVENTURA */
.panel .filmes-de-aventura{
    display: flex;
    gap: 1.5rem;
}

/* STAR WARS */
.star-wars-slider{
    /* grid-area: star-wars; */
    background: url(../images/background-general/death-star.jpg) no-repeat;
}

.star-wars-list .slide-sw{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* Hobbit */
.hobbit-slider{
    /* grid-area: hobbit; */
    background: url(../images/background-general/hobbit.jpg) no-repeat;
}

.hobbit-list .slide-h{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* filmes de acao */
/* TRANSFORMERS */
.transformers-slider{
    /* grid-area: transformers; */
    background: url(../images/background-general/transformers-2.jpg) no-repeat;
}

.transformers-list .slide-t{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* FILMES DE MUSICAL */
/* HIGH SCHOOL MUSICAL */
.high-school-musical-slider{
    /* grid-area: high-school-musical; */
    background: url(../images/background-general/high-school-musical.jpg) no-repeat;
}

.high-school-musical-list .slide-hsm{
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

/* flex-direction: row */
.star-wars-list, .high-school-musical-list, .hobbit-list, .transformers-list, 
.star-wars-slider, .high-school-musical-slider, .hobbit-slider, .transformers-slider{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Movies-sliders */
.star-wars-slider, .high-school-musical-slider, .hobbit-slider, .transformers-slider{
    background-size: cover;
    background-position: center;
    position: relative;
    min-width: 40rem;
    height: 26rem;
    border: 0.05rem solid var(--border-color);
}

/* IMAGES */
.slide-sw .star-wars-image, .slide-hsm .high-school-musical-image, 
.slide-h .hobbit-image, .slide-t .transformers-image{
    width: 16rem;
    height: 22rem;
}

/* OPACITY: 1 */
.star-wars-list .show, .high-school-musical-list .show-1, 
.hobbit-list .show-2, .transformers-list .show-3{
    opacity: 1;
}

/* Arrows */
.back-arrow, .forward-arrow{
    position: absolute;
    z-index: 1;
}

.arrow-image{
    width: 4rem;
    height: 4rem;
}

.back-arrow{
    left: 4%;
    transform: rotateY(180deg);
}

.forward-arrow{
    right: 4%;
}

.opacity, .opacity-1, .opacity-2, .opacity-3{
    opacity: 0.6;
    cursor: default;
}