:root {
    /* HEADER'S COLORS */
    --logo-color: rgb(187, 7, 7);
    --li-color: rgb(254, 254, 254);
    --title-color: rgb(219, 32, 44);
    
    --border-color: rgb(255, 255, 255);

    --header-footer-color: rgb(15, 14, 14);
}